extends frame.pug

block title
  | 关于昆虫棋网

block append css
  link(rel='stylesheet' href='/static/css/passage.css')

block content
  div.passage
    h1 关于昆虫棋网
    br

    p 本站的创建者是在2015年第一次接触到昆虫棋，瞬间被它的趣味性所吸引。居然都不需要棋盘！另外，六角形的棋子具有非常不同于中国象棋和国际象棋的下棋策略，需要我们从不同的角度来思考策略
    p 昆虫棋是一个小众的游戏，知道它的人不多。实现这个网站，一来是为了推广昆虫棋，希望有更多人能接触到这个有趣的游戏。二来，市面上并没有特别好用的在线版昆虫棋。 三来，笔者对于实现六角形棋类抱有很大的兴趣。
    p 基于以上原因，昆虫棋网就这样诞生了。希望大家能享受这个游戏的乐趣。
