doctype html
html
  head
    title
      block title
      |  - Hive6 昆虫棋网
    block css
      link(rel='stylesheet' href='/static/css/frame.css')
  body
    header
      block header
        a.logo(href='/')
          img(src='/static/img/logo.png' alt='昆虫棋网')
        ul.menu
          li
            a(href='/game/vs/local') 本地对战
          li
            a(href='/game/create') 开一局线上对战
          li
            a(href='/rules' target='_blank') 游戏规则
          li
            a(href='/games') 棋局复盘
          li
            a(href='/my/games') 我的棋局
        div.userinfo
          if isLogined
            a(href='/logout') #{username}, 退出
          else
            a(href='/login') 登录
            span &nbsp;&nbsp;
            a(href='/register') 注册

    section.main
      block content

    footer
      block footer
        ul
          li
            a(href='/about') 关于昆虫棋网
          li
            span 2016 &copy;昆虫棋网

    block js
