doctype html
html
  head
    title
      block title
      |  - Hive6
    block css
  body
    header
      block header
        p header
    section
      block content
    footer
      block footer
        p footer
    block js
