extends frame.pug

block title
  | 本地对战

block append css
  link(rel='stylesheet' href='/static/css/login.css')
  link(rel='stylesheet' href='/static/css/game.css')

block append js
  script.
    var globalPlayerTypes = [0, 0];
    var globalGameId = null;
  script(src='/static/js/dist/webgame.d.js')

block content
  div.game-box
    div#bar1.bar
    div#bar2.bar
    div#canvas_container.bar
