extends frame.pug

block title
  | 在线对战

block append css
  link(rel='stylesheet' href='/static/css/login.css')
  link(rel='stylesheet' href='/static/css/game.css')

block content
  if sharePassword
    div.msg-box
      p 棋局已创建，把链接和密码发给小伙伴，邀请TA来对战！
      p.orange 链接: http://localhost:3030/game/#{_id} <br/> 密码: #{password}
  else if needPassword || !authorized
    form(method='post' action='/game/' + _id + '/join')
      div.hexagon-box.login-box
        h1 加入棋局
        div.error-box
          if error
            p.error 棋局密码错误
        div.form-row
          input#password.inputbox(type='password' name='password' placeholder='棋局密码')
        div.form-row
          input.btn(type='submit' value='提交')

    script.
      document.getElementById('password').focus();

  else
    div.game-box
      div#bar1.bar
      div#bar2.bar
      div#canvas_container.bar

block append js
  if authorized
    script var globalPlayerTypes = #{JSON.stringify(playertypes)}; var globalGameId = !{JSON.stringify(_id.toString())};
    script(src='/static/js/dist/web.d.js')
