extends frame.pug

block title
  | Game

block content
  if sharePassword
    p ~~ Share the link and password with your friends. ~~
    p link: http://localhost:3030/game/#{_id} <br/> password: #{password}
  else if needPassword
    form(method='post' action='/game/' + _id + '/join')
      input(type='password' name='password')
      input(type='submit' value='Submit')
  else if !authorized
    div Sorry, but you are not the players of this game.
  else
    div#canvas_container
    div#bar1
    div#bar2

block append js
  if authorized
    script var globalPlayerTypes = #{JSON.stringify(playertypes)}; var globalGameId = !{JSON.stringify(_id.toString())};
    script(src='/static/js/dist/web.d.js')

block append css
  style.
    body {
      margin: 0;
      padding: 0;
    }

    #bar1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
    }

    #bar2 {
      position: absolute;
      top: 0;
      right: 50px;
      width: 150px;
    }

    #canvas_container {
      width: 100%;
      height: 400px;
    }
