extends frame.pug

block title
  | 游戏规则

block append css
  link(rel='stylesheet' href='/static/css/passage.css')

block content
  div.passage
    h1 昆虫棋游戏规则
    br
    h2 获胜条件
    p 下昆虫棋的目标：
    ul
      li 包围对方的蜂后
      li 同时保证自己的蜂后不被包围
      li 所谓的包围，既可以是你的棋子，也可以是对方的棋子

    p 第一个做到这一点的玩家，就将获得胜利。
    p 另外，昆虫棋存在平局，平局有以下几种情况：

    ul
      li 最后一步之后，导致双方的蜂后同时被包围
      li 双方达成平局协商

    h2 开局
    p 昆虫棋的开局中，有不少值得注意的规则：
    ul
      li 执白棋的选手先走，此时场上还没有任何棋子，可以放上除蜂后之外的任何棋子
      li 执黑棋的选手后走，可以放上除蜂后之外的任何棋子，贴着刚放上来的白棋棋子
      li
        p 对于蜂后，除了不能在第一轮放之后，还有两条限制
        ul
          li 双方都必须在前四轮内将蜂后放上场
          li 在己方的蜂后上场前，只能将棋子放上场，而不能移动场上棋子


    h2 落子
    p 将一个新的棋子放到场上，需要遵守以下规则：
    ul
      li 新上场的棋子，必须贴着你在场上的其他棋子  （除了双方的第一回合）
      li 新上场的棋子，不能贴着对方已在场上的棋子

    p 另外，由于牵牛棋子可以爬上其他棋子，所以需要说明的是，某个位置的棋子归属由最上方的棋子来决定

    h2 移动
    p 在己方的蜂后上场之后，选手就可以去移动自己场上已有的棋子了。不同角色的棋子，有各自不同的移动方式。不过在介绍这些之前，先来看看移动棋子时的一些基本准则：
    ul
      li 一个蜂巢原则
      li 窄口原则
      li 贴边原则

    h3 一个蜂巢原则
    ul
      li 即所有棋子必须是连接在一起的，不能分开。
      li 在任何时候，任何棋子的移动都不能将场上的棋子分成不相连的两部分
      li 此原则需要在整个移动过程中都遵守，并非移动的终点依旧保持一个蜂巢就能满足此原则。


    h3 窄口原则
    ul
      li 当棋子移动的前方是一个窄口时，不能直接按正常贴边移动的方式，让棋子通过这个窄口。
      li 当然，面对窄口，具有特殊移动功能的棋子，比如牵牛，蟋蟀，会有各自的方法可以摆脱窄口的限制
      li 窄口原则，并不限制落子。落子时可以直接把棋子放在窄口内，只要这不违反落子的其他规则


    h3 贴边原则
    ul
      li 对于蜂后、牵牛、蜘蛛和蚂蚁，所有的移动必须贴着已有棋子的边，不能跳过任何非窄口的缝隙


    h2 跳过回合
    p 在玩昆虫棋的过程中，对于跳过回合有以下规定：
    ul
      li 如果当前回合，选手既不能落子，也无法移动场上任何棋子，则选手自动跳过这个回合
      li 但凡选手可以落子或者移动，则不能主动跳过任一回合，即使该操作会导致选手输棋

    h2 棋子数量
    p 白棋和黑棋的棋子种类和棋子数量相同，具体如下：
    ul
      li 蜂后，1个
      li 牵牛，2个
      li 蜘蛛，2个
      li 蚂蚁，3个
      li 蟋蟀，3个


    h2 棋子角色介绍

    h3 蜂后
    p 蜂后是昆虫棋中最重要的角色，需要时刻记住游戏的目标就是围住对方的蜂后，且不让自己的蜂后被围。
    ul
      li
        p 移动
        ul
          li 朝任何方向，移动一格
      li
        p 落子
        ul
          li 第一轮不能放蜂后
          li 第四轮以内必须放上蜂后
      li
        p 特殊规则
        ul
          li 在蜂后放上场前，不能移动己方在场上的棋子
      li
        p 使用特点
        ul
          li 是游戏的生命线
          li 移动缓慢

    h3 牵牛
    p 在昆虫棋中，牵牛是个很有用的棋子，虽然它移动比较慢。它的特点是可以爬上其他的棋子，这让它可以绕过类似窄口和闭环的限制。
    ul
      li
        p 移动
        ul
          li 朝任何方向，移动一格，这点和蜂后一样
          li 在移动时，可以踩到其他棋子身上，无论是哪方的棋子
          li 也可以在移动时，从其他棋子身上跳下
      li
        p 落子
        ul
          li 遵守基本落子规则即可
          li 注意，落子时不能直接放到其他棋子身上
      li
        p 特殊规则
        ul
          li 被牵牛踩在脚下的棋子，不能移动
          li 落子时，由踩在最上方的牵牛来决定该位置是哪一方的
      li
        p 使用特点
        ul
          li 在进攻时，因为牵牛可以爬到其他棋子，这让它可以去一些其他棋子到不了的位置
          li 在防守时，还能限制踩在脚下棋子的移动
          li 移动缓慢


    h3 蚂蚁
    p 在昆虫棋中，蚂蚁是移动能力最强的棋子，无论是防守还是进攻，都是场上的第一选择。
    ul
      li
        p 移动
        ul
          li 朝任何方向，移动 N 步，相当于是蜂后一步一步走 N 次
      li
        p 落子
        ul
          li 没有特殊之处
      li
        p 特殊规则
        ul
          li 无
      li
        p 使用特点
        ul
          li 移动方式堪称瞬间移动
          li 不过不能进入窄口或者一个环里

    h3 蜘蛛
    p 在昆虫棋中，蜘蛛是一个比较难用好的角色，因为它的移动规则比较特殊。
    ul
      li
        p 移动
        ul
          li 可以移动且必须移动 3 步，且不能回头走刚经过的位置
      li
        p 落子
        ul
          li 没有特殊之处
      li
        p 特殊规则
        ul
          li 无
      li
        p 使用特点
        ul
          li 前期价值比较大
          li 因为有固定步数限制，需要提前算好位置

    h3 蟋蟀
    p 在昆虫棋中，蟋蟀是移动方式非常特殊的一个角色，在实战中有其独特的作用。
    ul
      li
        p 移动
        ul
          li 可朝一个固定方向，跳过连接着任意多数量的棋子，最终落到一个空地上
      li
        p 落子
        ul
          li 没有特殊之处
      li
        p 特殊规则
        ul
          li 无
      li
        p 使用特点
        ul
          li 优点：可以利用跳跃性，进入窄口或环。棋子较多时，可以移动较远距离
          li 缺点：没有普通逐格移动的能力
