
.msg-box {
  margin: 30px auto 0;
  padding: 50px;
  width: 500px;
  border: 1px solid rgba(0,0,0,0.5);
  background-color: #2c362f;
  color: #dbe6ec;
  line-height: 25px;
}

.orange {
  color: #dc950f;
}

.game-box {
  overflow: hidden;
  margin-top: 25px;
}

.bar {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

  .bar.on {
    background: orange;
  }

  .bar.off {
    background: #2c362f;
  }

#bar1 {
  float: left;
  margin-right: 10px;
  width: 150px;
}

#bar2 {
  float: right;
  margin-left: 10px;
  width: 150px;
}

#canvas_container {
  overflow: scroll;
  height: 560px;
  background: #2e3134;
}
